.slider{
    display: flex;
    width: 100%;
    background-color: black;
    height: calc(100%-90px);
    margin: 0;
    position: relative;
    

}

.sliderhold{
    display: flex;
    width: 100%;
    transform: translateX(-105vw);
}

.imageslider{
    width: 50%;
    height: 85vh;
    
}

.sliderinfo{
    color: white;
    text-align: center;
    background-color: chocolate;
    width: 50%;
    
    padding-top: 250px;
    padding-left:220px;
    padding-right: 220px;
}
.sliderinfo > h1,h3{
    
    width: 200px;
    /* background-color: yellow; */
    text-align: left;
    padding:10px;
   
}


.arrocss{
    color: white;
    margin-top: 250px;
    margin-bottom: 250px;
}
.arrocss:hover{
    color: orange;
    cursor:pointer;
}